
<article class="card-1 {{ entry.category.first  | lower | replace({' ': '-' , '/':'-'}) }}">
		<a href="{{ entry.url }}">
				{% if entry.articleThumbnail | length %}
				<div class="col-xs-12 col-sm-5  col-sm-push-7 img-contain" style="background-image:url('{{ entry.articleThumbnail.first.url('thumbnail') }}')">
					</div>
					<div class="col-xs-12 col-sm-7 col-sm-pull-5 meta-content">
						<p class="leadin">{{ entry.category.first }} / {{ entry.postDate.format('F d, Y') }}</p>
						<h4>{{ entry.title }}</h4>
					{% if entry.pageDescription | length %}<p>{{ entry.pageDescription }}</p>{% endif %}

					</div>
					
				{% else %}
					<div class="col-xs-12 meta-content">
						<p class="leadin">{{ entry.category.first }} / {{ entry.postDate.format('F d, Y') }}</p>
						<h4>{{ entry.title }}</h4>
				{% if entry.pageDescription | length %}<p>{{ entry.pageDescription }}</p>{% endif %}
					</div>
				{% endif %}
		</a>
</article>
