

	{% if block.heroImage | length %}
		<section class="header flex-parent {{ block.bannerSize }}" style="background-image:linear-gradient(to right, #69B62F, #DE3375), url(blend-mode-example.jpg)">
		{% else %}
		<section class="header flex-parent no-bg {{ block.bannerSize }}">
		{% endif %}
		{% include '_includes/main-nav' %}

			<div class="container-fluid wrap">
				<div class="row text-center">
					<div class="col-xs-12">
						{{ block.headerContent }}
					</div>
				</div>
			</div>
		</section>

	
