
{% if entry.contentBuilder|length %}

  <section class="js-content-builder content-builder">

    {% for content in entry.contentBuilder %}

      {% switch content.type %}
        {% case 'copy' %}

          <div class="builder-{{ content.type }} builder-section container tight">
            
            {{ content.copy }}

          </div>

        {% case 'copyOnFullbleedImage' %}
          
          {# content.sectionHeight is meant to override the default height set in the CSS of the content block type #}
          <div class="builder-{{ content.type }} builder-section {{ content.sectionHeight }}">
            
            <div class="bg-fullbleed" style="background-image: url({{ content.image.first.url }});"></div>

            {# Set background overlay variables #}
            {% set overlayColor = content.overlayColor %}
            {% set overlayOpacity = content.overlayOpacity %}
            {% set overlayResult = overlayColor ~ ', ' ~ overlayOpacity %}

            <div class="bg-overlay" style="background-color: rgba({{ overlayResult }});"></div>
            
            {# inner-container is set to display: table-cell; height: 100%; while it's parent is set to display: table; #}
            <div class="inner-container" style="vertical-align: {{ content.copyVerticalAlignment }};">
              <div class="container tight" style="color: #fff;"> {# Temp inline styles #}

                  {{ content.copy }}

              </div>
            </div>

          </div>

        {% case 'blockquote' %}

          <div class="builder-{{ content.type }} builder-section container tight">

            <blockquote>
              <p>{{ content.quote }} {% if content.quoter|length %} &mdash; <strong>{{ content.quoter }}</strong>{% endif %}</p>
            </blockquote>

          </div>

        {% case 'blockquoteOnFullbleedImage' %}

          <div class="builder-{{ content.type }} {{ content.sectionHeight }} builder-section">
            
            <div class="bg-fullbleed" style="background-image: url({{ content.image.first.url }});"></div>

            {# Set background overlay variables #}
            {% set overlayColor = content.overlayColor %}
            {% set overlayOpacity = content.overlayOpacity %}
            {% set overlayResult = overlayColor ~ ', ' ~ overlayOpacity %}

            <div class="bg-overlay" style="background-color: rgba({{ overlayResult }});"></div>

            <div class="inner-container" style="vertical-align: {{ content.copyVerticalAlignment }};">
              <div class="container tight" style="color: #fff;">

                <blockquote>
                  <p>{{ content.quote }} {% if content.quoter|length %} &mdash; {{ content.quoter }}{% endif %}</p>
                </blockquote>

              </div>
            </div>

          </div>

        {% case 'internalBreakoutLink' %}

          <div class="builder-{{ content.type }} builder-section container tight">
            
            {% for link in content.entry %}
              <p><strong>{{ content.accompanyingText|default('Read More') }}:</strong> <em><a href="{{ link.url }}">{{ link.title }}</a></em></p>
            {% endfor %}

          </div>

        {% case 'externalBreakoutLink' %}

          <div class="builder-{{ content.type }} builder-section container tight">
            
            <p><strong>{{ content.accompanyingText|default('Read More') }}:</strong> <em><a href="{{ content.externalUrl }}" target="_blank">{{ content.linkTitle }}</a></em></p>

          </div>

        {% case 'largeImage' %}

          <div class="builder-{{ content.type }} builder-section container tightish">
            
            <figure>
              <img src="{{ content.image.first.url }}" alt="{{ content.image.first.title }}">
            </figure>

          </div>

        {% case 'imageGallery' %}

          <div class="builder-{{ content.type }} builder-section container tight">
            
            <div class="my-simple-gallery">
              {% for image in content.images %}
              
                <figure class="builder-gallery-thumbnail{% if not loop.first %} hide-me{% endif %}">
                  <a class="js-builder-gallery" href="{{ image.getUrl }}" aria-label="Open Photo Gallery">
                    <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                  </a>
                </figure>
              {% endfor %}
            </div>

            <p class="builder-gallery-open-title">Click on photo to view gallery.</p>

            {# 
              This will need JS. PhotoSwipe is cool. 
              In the figure class attribute I'm adding a class to hide all the images except the first one.
              This way the first image serves as a trigger to open the gallery if using something like PhotoSwipe.
            #}

          </div>

        {% case 'fullbleedImage' %}

          <div class="builder-{{ content.type }} builder-section">

            <figure>
              {# Width 100% forces the image to fill up the width of whatever element it is in. Suggest not putting in a container/wrapper. #}
              <img src="{{ content.image.first.url }}" alt="{{ content.image.first.title }}" style="width: 100%;">
            </figure>

          </div>

        {% case 'video' %}

          <div class="builder-{{ content.type }} builder-section container tightish">
            
            {# Ensure you setup somthing like FitVids for responsive video embeds with Vimeo & YouTube #}
            {{ content.video }}

          </div>

        {% case 'codeSnippet' %}

          <div class="builder-{{ content.type }} builder-section container">
            
            {# 
              Used for tracking codes or scripts that embed stuff. 
              Removing '|raw' will make the code show on the page and will not run.
            #}
            {{ content.code|raw }}

          </div>

      {% endswitch %}

    {% endfor %}

  </section>

{% endif %}