<footer>
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-6 col-md-2">
				<h4>Des Moines</h4>
				<p>1801 Guthrie Ave <br>
				Des Moines, IA 50316<br>
				Tel: 515-266-6422<br>
				Fax: 515-564-0091</p>
			</div>
			<div class="col-sm-6 col-md-2">
				<h4>Kansas City</h4>
				<p>6459 Universal Ave<br>
					Kansas City, MO 64120 <br>
					Tel: 816-231-6600 <br>
					Fax:816-231-6599</p>
			</div>
			<div class="col-sm-6 col-md-2">
				<h4>Minnesota</h4>
				<p>9350 James Ave <br>
				South Bloomington,MN 55431 <br> 
				Tel: 952-881-8770 <br>
				Fax: 952-881-6712</p>
			</div>
			<div class="col-sm-6 col-md-2">
				<h4>Wisconsin</h4>
					<p><strong>Brent McKennon</strong><br>
					Tel: 262-853-4659</p>
			</div>
			<div class="col-sm-6 col-md-2">
				<h4>Dallas</h4>
					<p><strong>Christian Longford</strong><br>
					Tel: 214-470-7856</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<ul class="list-inline">
					<li>&copy;{{ 'now'|date('Y') }} {{ siteName }}</li>
					{% if siteControls.primaryAddress|length %}<li>{{ siteControls.primaryAddress }}</li>{% endif %}
					{% if siteControls.primaryTelephone|length %}<li>{{ siteControls.primaryTelephone }}</li>{% endif %}
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 text-right">
				{% include '_includes/social' %}
			</div>
		</div>
	</div>
</footer>