<header>
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-6 col-sm-2 logo">
				<a href="/"><img src="{% if siteControls.logo | length %}{{ siteControls.logo.first.url }}{% endif %}" alt="{{ siteName }}"></a>
			</div>
			<div class="col-xs-6 col-sm-10 mainnav hidden-xs hidden-sm" id="mobile-menu">
				{{ craft.navee.nav('mainNav') }}
			</div>
		</div>
	</div>
</header>
<div class="hiddenNav visible-sm visible-xs">
                <div class="mobileButton" id="toggle">
                  <i class="fa fa-bars"></i>
                </div>
            
        </div>
<div class="navOverlay" id="overlay">
      <nav>
        {{ craft.navee.nav('mainNav') }}
      </nav>
    </div>

