<div id="map"></div>
<script>
        	
            var address = '{{ siteControls.street }} {{ siteControls.city }}';

            var styles = [{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"saturation":"0"},{"lightness":"0"},{"color":"#e6f1f1"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#aae0dc"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#8EF1DD"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"},{"color":"#1bf9c7"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"},{"saturation":"0"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"weight":"2"},{"saturation":"2"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"on"},{"hue":"#00ffff"},{"lightness":"-18"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"saturation":"-4"},{"weight":"0.96"},{"color":"#0f857b"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":700},{"visibility":"on"},{"weight":"1"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#73D4C0"}]}],
        geocoder = new google.maps.Geocoder();
           var map = new google.maps.Map(document.getElementById('map'), { 
                mapTypeId: google.maps.MapTypeId.road,
                zoom: 13,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                styles: styles
           });

           geocoder.geocode({
              'address': address
           },

           function(results, status) {
              if(status == google.maps.GeocoderStatus.OK) {
                 new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map
                 });
                 map.setCenter(results[0].geometry.location);
              }
           });
           google.maps.event.addDomListener(window, "resize", function() {
             var center = map.getCenter();
             google.maps.event.trigger(map, "resize");
             map.setCenter(center); 
            });

      </script>