<div class="fb-share-button" data-href="{{ url(craft.request.path) }}" data-mobile-iframe="true">Facebook</div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ socialMedia.twitter }}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
