{% include '_includes/body-block-open' %}


	{% if block.heroImage | length %}
		<section class="header flex-parent {{ block.bannerSize }}" style="background-image:url('{{ block.heroImage.first.url('hero') }}')">
		{% else %}
		<section class="header flex-parent no-bg {{ block.bannerSize }}">
		{% endif %}
			<div class="container-fluid wrap">
				<div class="row text-center">
					<div class="col-xs-12">
						{{ block.headerContent }}
					</div>
				</div>
			</div>
		</section>
	</div>

	
