{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap wrap">
		<div class="row flex-parent">
            {% for item in block.children %}
			<div class="item col col-md-{{ item.columnWidth }}">
				{{ item.blockContentContent }}
			</div>
			{% endfor %}
		</div>
	</div>
</div>