{% include '_includes/body-block-open' %}

	<div class="container-fluid np">
		<div class="row">
			{% for item in block.children %}
			<div class="col-xs-12 col-sm-6 item">
				<div class="profile-contain">
					<div class="img-contain">
						<img src="{{ item.image.first.url('thumbnail')}}" alt="">
						<div class="overlay"></div>
					</div>
					<div class="meta">
						<p>{{ item.teamName }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

	
