{% include '_includes/body-block-open' %}
	<div class="wrap">
			<div class="flex-parent">
				{% for item in block.children %}
			<div class="item">
				{{ item.columnContent }}
			</div>
			{% endfor %}
			</div>
			

	</div>
</div>         
