{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap sm-wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<div class="callout-content">
				<h1>{{ block.footerContactHeadline }}</h1>
					
				</div>
					<a href="{{ block.ctaLink }}" class="button">{{ block.footerContactCta }}</a>
			</div>
		</div>
	</div>
</div>