{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap wrap">
		<div class="row flex-parent text-center">
			<div class="item col col-md-12">
				<h1>{{ block.promoHeadline }}</h1>
				{{ block.promoDescription }}
				{% if block.linkType | length %}
					{% if block.interiorLink | length %}
					<a href="{{ block.interiorLink.first.url }}" class="button">Learn More</a>
					{% else %}
					<a href="{{ block.exteriorLink }}" target="_blank" class="button">Learn More</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>