{% include '_includes/body-block-open' %}
	{% set position = block.bleedImagePosition %}
	{% if position == 'full' %}
			{% for image in block.bleedImage %}

				<div class="hero cover  {% if block.fixed %}is-fixed{% endif %}" style="height:{{ block.heroHeight }}px; background-image: url('{{ image.getUrl('fullWidth') }}')">
				</div>
			{% endfor %}

	{% else %}
			{% for image in block.bleedImage %}

				<div style="height:{{ block.heroHeight }}px;background-image: url('{{ image.getUrl('fullWidth') }}')" class=" {% if block.fixed %}is-fixed{% endif %} hero col-xs-12 col-sm-8 padding-bottom {% if position ==  'right' %} col-sm-offset-4{% else %}{% endif %}">
						{% endfor %}
				</div>
	{% endif %}
</div>

