{% include '_includes/body-block-open' %}
<div class="container-fluid">
	<div class="row">
		{% for item in craft.entries.section('locations') %}
			<div class="col-xs-6 col-sm-4 {{ item.title | lower | replace(' ', '-') }}">
				<a href="{{ item.url }}">
					<div class="profile-contain item">
						<div class="img-contain">
							<img src="{{ item.primaryImage.first.url('location')}}" alt="">
							<div class="overlay"></div>
						</div>
						<div class="meta">
							<p>{{ item.title }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

	
