{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap wrap">
		<div class="row">
			<div class="item col col-sm-12">
				<div class="row">
					<div class="table-responsive col-xs-12">
					  <table class="table table-striped">
					  	<tr class="first">
					  		<th>Part Number:</th>
					  		<th>Brand:</th>
					  		<th>Description</th>
					  		<th>Quantity:</th>
					  	</tr>
			            {% for entry in craft.entries.section('monitorInventory') %}
							<tr>
								<td><strong>{{ entry.title }}</strong></td>
								<td>{{ entry.monitorBrand }}</td>
								<td>{{ entry.description}}</td>
								<td>{{ entry.quantity }}</td>
							</tr>
						{% endfor %}
					  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>