{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap blog-index">
		<div class="row" id="Filters">
			<div class="col-xs-12 col-sm-6">
				<h4>Filter articles</h4>
				<fieldset>
					<select >
					    <option value="">All</option>
					    {% for category in craft.categories.group('newsType') %}
						    <option value=".{{ category | lower | replace({' ': '-' , '/':'-'}) }}">{{ category }}</option>
					    {% endfor %}
				    </select>
				</fieldset>
				<br>
				<br>

			</div>
		</div>

		<div class="row flex-parent" id="Container">
				{% for entry in craft.entries.section('news').find() %}
					{% include '_includes/article' %}
				{% endfor %}
		</div>
	</div>
</div>

	
