{% include '_includes/body-block-open' %}

	<div class="wrap">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h3>{{ block.headline }}</h3>
				</div>
			</div>
		</div>
		<div class="flex-parent">
			{% if block.blockBehavior == "curatedList" %}
			{% set entries = block.articles %}
				{% for entry in entries %}
					{% include '_includes/article' %}
				{% endfor %}
			{% else %}
			{% set limit = block.limit %}
				{% for entry in craft.entries.section('news').limit(limit) %}
					{% include '_includes/article' %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

</div>