{% include '_includes/body-block-open' %}

<div class="container-fluid np">
	<div class="row">
		{% for item in block.children %}
			<div class="col-xs-6 col-sm-3 ">
				<div class="profile-contain item">
					<div class="img-contain">
						<img src="{{ item.image.first.url('thumbnail')}}" alt="">
						<div class="overlay"></div>
					</div>
				<div class="meta">
					<p>{{ item.teamName }}</p>
				</div>
				</div>

				
				
			</div>
			{% endfor %}
		</div>
	</div>
</div>

	
