{% include '_includes/body-block-open' %}
	<div class="container-fluid div wrap">
		<div class="row flex-parent">
			{% for item in block.children %}
			<div class="item content">
				{{ item.content }}
			</div>
			{% endfor %}
		</div>

	</div>
</div>         
