
{% macro article(className) %}
<article class="{{ entry.category.first  | lower | replace({' ': '-' , '/':'-'}) }} {{ className }}">
		<p class="leadin">{{ entry.category.first }} / {{ entry.postDate.format('F d, Y') }}</p>
		<h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
		<p><a class="read-this" href="{{ entry.url }}">Read This</a></p>
</article>
{% endmacro %}