
<div class="col-xs-12 {{ item.fieldWidth }} form-item">
    <input {% if item.required %}required{% endif %} id="fromEmail" type="email" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
</div>