{% extends "_layout" %}

{% block content %}
<div class="builder-section builder-bannerBuilder">
	<section class="header flex-parent medium" style="background-image:url('{{ entry.primaryImage.first.url('hero') }}')">

		<div class="container-fluid wrap">
			<div class="row text-center text-white">
				<div class="col-xs-12">
					<h1>{{ entry.title }}</h1>
					<h4>{{ entry.address }}</h4>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="builder-section np">
	<div id="map"></div>
</div>

<script>
          
            var address = '{{ entry.address }}';

            var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#3e606f"},{"weight":2},{"gamma":0.84}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"weight":0.6},{"color":"#1a3541"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#108aee"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#108aee"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#108aee"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#2d2b81"},{"lightness":-37}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#2d2b81"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#193341"}]}],
        geocoder = new google.maps.Geocoder();
           var map = new google.maps.Map(document.getElementById('map'), { 
                mapTypeId: google.maps.MapTypeId.road,
                zoom: 13,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                styles: styles
           });

           geocoder.geocode({
              'address': address
           },

           function(results, status) {
              if(status == google.maps.GeocoderStatus.OK) {
                 new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map
                 });
                 map.setCenter(results[0].geometry.location);
                 map.panBy(0,-100);
              }
           });
           google.maps.event.addDomListener(window, "resize", function() {
             var center = map.getCenter();
             google.maps.event.trigger(map, "resize");
             map.setCenter(center); 

            });

      </script>
	{% include '_includes/neo-content-builder' %}
	<div class="builder-section builder-locations">
		<div class="container-fluid wrap">
			<div class="row div col-xs-12">
				<h2>Our Other Locations</h2>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
			{% set entries = craft.entries({
			  section:'locations'
			}).id('not ' ~ entry.id) %}
			{% for item in entries %}
				<div class="col-xs-6 col-sm-3 {{ item.title | lower | replace(' ', '-') }}">
					<a href="{{ item.url }}">
						<div class="profile-contain item">
							<div class="img-contain">
								<img src="{{ item.primaryImage.first.url('location')}}" alt="">
								<div class="overlay"></div>
							</div>
							<div class="meta">
								<p>{{ item.title }}</p>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
