{#
# Home page layout template.
# ---------------
#
#}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if entry.title is defined and entry.sectionId != 1 %}{{ entry.title|title }} &ndash; {% elseif title is defined %}{{ title|title }} &ndash; {% endif %} {{ siteName }}</title>

    <meta name="description" content="{% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	
  	{% include '_includes/og' %}
	
    <link rel="icon" href="{% if siteControls.favicon | length %}{{ siteControls.favicon.first.url( 'favicon' ) }}{% endif %}" type="image/png">

    <link rel="stylesheet" href="/resources/css/production.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpibi5JcqACQFZkt_VGhgI7Tv5tfAu_8o" async="" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="/resources/js/production.js"></script>
    


    <script>
        var projectData = {};
    </script>



    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/resources/css/fallback.css">
    <link rel="stylesheet" href="/resources/css/ie8.css">
    <![endif]-->


    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ siteControls.gaCode }}', 'auto');
          ga('send', 'pageview');

        </script>
</head>

<body class="{{ craft.request.getSegment(1) ?: 'home' }}">
		{% include '_includes/main-nav' %}
        {% import '_macros' as siteMacros %}
        

    		{% block content %}
    		{% endblock %}
		{% include '_includes/footer' %}


        <!-- Facebook Sharing -->
        <script>
        (function(d, s, id) {
    		  var js, fjs = d.getElementsByTagName(s)[0];
    		  if (d.getElementById(id)) return;
    		  js = d.createElement(s); js.id = id;
    		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=408430689261006";
    		  fjs.parentNode.insertBefore(js, fjs);
    		}(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>