/* Contact Form */
$placeholder: $primary;
$input-height: 70px;
$input-background:transparent;
$input-font-size:16px;
$input-font-color: white;
$input-border: solid 3px $input-font-color;
$input-border-hover:  $secondary;
$label-color:$primary;
$input-color:$input-font-color;
$border-radius: 10px;

 select {
    text-transform: uppercase;
    font-family: $body;
    font-weight: 100;
    line-height: 1.5;
    border-radius:$border-radius;
    font-size: $input-font-size;
    padding: 20px;
    color: $input-color;
    display: block;
    width: 100%;
    background: $input-background;
    height:$input-height;
    border:$input-border;
    @include prefixer(appearance,none);
    @include placeholder($placeholder);
    @include transition(.3s all);
    &:focus {
      border-color:$input-border-hover;
    }
  }
  select {
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-image: url(/resources/img/dropdown-white.png);
    padding: .5em;
  }


input#preferredKitten { display: none; }

#thank-you {
  display: none;
}

.form-item {
  margin-bottom: 30px;
}
.main-form {
  * {
    outline: none !important;
  }
  position: relative;
  &:before,&:after {
    content: " "; display: table; 
  }
  &:after{
    clear: both; 

  }
  label {
    display: block;
    padding: 10px 5px 5px 2px;
    font-size: 1.1em;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: $heading;
    color:$label-color;
  
  }
  input,textarea,select {
    text-transform: uppercase;
    font-family: $body;
    font-weight: 100;
    line-height: 1.5;
    border-radius:$border-radius;
    font-size: $input-font-size;
    padding: 20px;
    color: $input-color;
    display: block;
    width: 100%;
    background: $input-background;
    height:$input-height;
    border:$input-border;
    @include placeholder($placeholder);
    @include transition(.3s all);
    &:focus {
      border-color:$input-border-hover;
    }
  }
  select {
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-image: url(/reosources/img/dropdown-white.png);
    padding: .5em;
  }
  textarea {
    min-height: 200px;

  }
  input[type="submit"] {
    @extend .button !optional;
    border-radius:10px;
    

  }
  #nospam, .nospam {
    display:none;
  }

}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}