* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.lazyload {
    min-height:200px;
  background: #ccc url(http://placehold.it/160x80&text=loading...) 50% 50% no-repeat;
}

[v-cloak] > * { display:none; }
#app.loading {
}


.loader {
  margin-top: 2em;
  svg{
  }
}
  
#Filters {
  display: none;
}

.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

body {
  overflow-x:hidden;
  background: $bodyColor url('../img/bg.png')repeat;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
    
}

.flex-parent {
  flex-direction:row;
  display: flex;
  flex-wrap:wrap;
}

.wrap {
  max-width: 1200px;
  margin:auto;
  &.sm-wrap {
    max-width: 800px;
  }
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}





/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

div[class*="cta"]{
  text-align: center;

}

div[class*="builder-cta"]{
  margin-top: -4em;

}

.builder-WhiteSpace{

}

.builder-clients {
  .no-pad {
    div[class*="col"]{
      padding:0;
    }
  }
}

.md-wrap {
  max-width: 940px;
}

.builder-portfolioAggregate,.work-index {
  .item-row {
    .portfolio-item {
      &:hover {
        .overlay {
          opacity:1;
        }
      }
      margin-bottom: 30px;
    }
    .thumbpreview {
      position: relative;
      overflow:hidden;
      h4 {
        font-family: $serif;
        color:$secondary;
        margin:10px 0;
        font-size: 18px;
        @include viewport(md){
          margin:10px 0;
        font-size: 3rem; 
        }
      }
      .leadin {
        margin: 0;
        line-height: 1;
      }
      img {
        width:100%;

      }
      .overlay {
        display: flex;
        flex-direction:column;
        justify-content:center;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(white,.95);
        z-index:2;
        opacity: 0;
        @include transition(.3s all);
        padding:2em;
      }
    }
  }
}

.hero{
  background-size: cover;
  background-position: center;
  @media (max-width:768px) {
    height:200px !important;
  }
}

.builder-blockContent {
  .item {
    padding-top:15px;
    padding-bottom:15px;
  }
}

body > div:last-child {
  margin-bottom: 0;
}

.builder-section {
  margin-bottom: 8em;
  padding:0 1em;
  width:100%;
  @extend .cf !optional;
  @include viewport(1200px){
    padding:0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.builder-section:last-child {
  margin-bottom: 0;
}

.builder-leftRightFullWidthBleed{
-webkit-clip-path: polygon(32% 5%, 100% 0, 100% 89%, 78% 100%, 56% 94%, 0 100%, 0 0);
clip-path: polygon(32% 5%, 100% 0, 100% 89%, 78% 100%, 56% 94%, 0 100%, 0 0);
  padding: 0;
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    &.is-fixed {
      @include viewport(desktop){
        background-attachment: fixed;
      }
    }

  }

}

div[class*="col"]{
  margin-top:15px;
  margin-bottom:15px;
}

.builder-bannerBuilder {
-webkit-clip-path: polygon(100% 0, 100% 91%, 41% 100%, 0 75%, 0 0);
clip-path: polygon(100% 0, 100% 91%, 41% 100%, 0 75%, 0 0);
  .header {
    background-position: center;
  }
  .no-bg {
    h1,h2,h3,h4 {
      color:$secondary;
    }
  }
  padding: 0;
  h1,h2,h3,h4 {
    color:$bodyColor;
  }
}

.builder-locations {

}

.about {
  #map {
    margin-top: -250px;
    z-index: 1;
  }
  .builder-bannerBuilder {
    z-index: 2;
    position: relative;
  }
}

.builder-team,.builder-locations {
  padding: 0;
  div[class*="col"] {
    padding: 0;
    .item {
      opacity:0;
      &,& * {
        @include transition(.3s all);
      }
    }
  }
  .profile-contain {
    &:hover {
      .overlay {
        opacity:.4;
      }
    }
     .overlay {
        position:absolute;
        opacity:0;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index: 1;
        background: #f77015;

      }
    position: relative;
    .meta {
      background:rgba($secondary,.5);
      position:absolute;
      bottom:0;
      width:100%;
      padding:1em;
      z-index: 2;
      p {
        color:white;
      }
    }
    .img-contain {
      position: relative;
      img {
        width:100%;
      }
     
    }
  }
}


.mixFail{
  display: none;
  
}


.des-moines {
  .overlay {
    background: #f7ea15 !important;
  }
}

.kansas-city {
  .overlay {
    background: #159ff7 !important;
  }
}

.minneapolis {
  .overlay {
    background: #af15f7 !important;
  }
}

.milwaukee {
  .overlay {
    background: #f73a15 !important;
  }
}

@include viewport(desktop){
  .nav-button {
  a {
    padding-top:calc(5em - 10px);
    span {
      padding:10px;
      border:solid 1px white;
      border-radius:3px;
    }
  }
}

}

.productMeta {
  li {
    border-bottom: solid 1px $secondary;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.header {
  background-blend-mode:$blendMode;
  background-size: cover;
  background-repeat: no-repeat;
  h1,h2,h3,h4 {
    margin-bottom: 0;
    color: white;

  }
  p {
    color:white;
    @include viewport(sm){
      width:60%;
      margin:2em auto 0;
    }
    
  }
  padding:13em 2em 8em;
  @include viewport(md){
    &.large {
      height:900px;
    }
    &.medium {
      height:700px;
    }
    &.small {
      height:500px;
    }
  }
}

.builder-contentGrid,.builder-blogAggregate {
  .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      font-size: 2rem;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  .message{
    margin-top: 2em;
    * {
      font-family: $serif;
      line-height: 1.4;
      font-size: 2rem;
    }
    a {
      text-decoration: underline;
      color:$secondary;
    }
  }
  .content-item {
    width:100%;
    border:solid 1px $secondary;
    padding:5em;
    margin-bottom:-1px;
    @include viewport(md){
      padding:9em;
    }
    ul {
      list-style-type: square;
      list-style-position: outside;
      margin-left: 30px;
    }
    li {
      
      color:$secondary;
      span {
        color:$primary;
      }
    }
    @include viewport(sm){
      width:50%;
      margin-left:-1px;
    }
  }
}


.leadin {
    text-transform: uppercase;
    font-size: 1.3rem;
  }


.builder-bleedImage {
  margin-left:-10%;
  margin-right:-10%;
  @include viewport(sm){
    margin: 0;
  }
}


.bleed-image-left {
  @include viewport(sm){
    position: absolute;
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    position: absolute;
  }
}

  .padding-bottom {
    padding-bottom:200px;
    @include viewport(sm){
    margin-right: -15px;  
    p {
      &:last-child {
        margin-bottom: 1em;
      }
    }

    }
  }

.bleed-image-left {
  @include viewport(sm){
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    right:-10%;
  }
}

.timeline-left{
      p {
        &:last-child {
          margin-bottom: 1em;
        }
      }
    }


.builder-timeline {

  .col-sm-6 {
    margin-bottom: 2em;
  }


  .leadin {
    padding-left:75px;
  }




  .timeline-content {
    border-left:solid 1px $secondary;
    padding:0 1em 0 75px;
    @include viewport(sm){
    padding:0 5em 0 75px;

    }

    
    .timeline-item {
      margin-bottom: 6rem;
      position: relative;
      width:100%;
      @include viewport(md){
        width:80%
      }
      &:before {
        content:url('/resources/img/list-item.jpg');
        position: absolute;
        top:0;
        left:calc(-75px - 11.5px);
      }
      &:last-child {
        margin-bottom: 0;
      }

    }
    h4 {
      font-family: $serif;
      font-size: 3.5rem;
    }
  }
}

.builder-quote {
    p {
      font-family: $serif;
      font-size: 3rem;
      @include viewport(md){
        font-size: 4rem;
      }
      color:$darkblue;
      font-style: italic;
      font-weight: 400;
    }
    .byline {
      font-size: 1.5rem;
      font-family: $body;
      font-style: normal;
      font-weight: 400;
      float:right;
    }

}


.builder-packages {

  .package {
    width:100%;
    h3 {
      font-size: 4rem;
    }
    @include viewport(sm){
      width:33.3333%;
      margin-left:-1px;
      
    }
    float:left;
    padding:4em;
    border:solid 1px $darkblue;
    p {
      span {
        color:$secondary;
      }
    }
    &.active {
      background: $darkblue;
      p,h3 {
        color:white;
      }
      .button {
        background:$secondary;
        color:white;
        text-align: center;
      }
    }
  }
}

.builder-column {

  .flex-parent {
    > div {
      margin:15px;
      @include viewport(sm){
        flex-basis:calc(33% - 30px);
        flex-grow:1;
      }
     
    }
  }
}

.builder-footerContact,.builder-ctaCallout {
-webkit-clip-path: polygon(100% 8%, 100% 91%, 41% 100%, 0 75%, 0 1%);
clip-path: polygon(100% 8%, 100% 91%, 41% 100%, 0 75%, 0 1%);
  &.cover {
    background-size: cover;
  }
  padding:8em 2em;
  .button {
    color:white;
    border-color:white;
  }
  @include viewport(sm){
    padding:15em 0;
  }

  background: $secondary;
  background: linear-gradient(101deg,  darken($bodyColor,10) 0%,darken($bodyColor,10) 63%,darken($bodyColor,20) 63%,darken($bodyColor,20) 100%); 
  h2,p,h1,a,h3,h4,h5,li {
    color:white;
  }
  p.footerTrigger {
    font-family: serif;
    text-decoration: underline;
    cursor:pointer;
  }

}

#map {
  height:440px;
}
.np {
  padding:0;
}


footer {
  padding:0em 2em 4em;
  .container-fluid {
    padding: 4em 0 0;

  }
  .row {
    margin-top: 2em;
    padding-top: 2em;
    border-top: solid 1px $secondary;
    &:last-child {
      margin-bottom: 0;
      border-top: 0;
    }
  }
  h4 {
    font-size: 1.75rem;
  }
  li,a,p {
    font-size: 1.75rem;
    color:$primary;
  }
}


.blog {
  article {
    border:solid 1px $secondary;
    margin-bottom: 5em;
    padding:5em;
    
    .leadin {
      margin-bottom: 2em;
    }

    h1 {
      a {
        &:hover {
          color:$secondary;
        }
      }
    }

    a {
      color:$primary;
      &:visited {
        color:$primary
      }
    }
    .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  }
}

.item {
  opacity:0;
}


.games {
  .mix {padding: {
      top:15px;
      bottom:15px;
    };
  }
}

.mix{
    display: none;

}

.filters {
  margin-bottom: 8em;
}

.builder-twoColumn {
  .col-sm-6 {
    @include viewport(sm){
    margin: 0;
  }
    margin-bottom: 4em;
    &:last-child {
      margin-bottom: 0;
    }
  }

}

.builder-googleMap{

  padding: 0;
  #map {
    height:200px
  }
  @include viewport(md){
    #map {
      height:440px;
    }
  }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}


.blog {
  article {
    border:solid 1px $secondary;
    margin-bottom: 5em;
    padding:5em;
    
    .leadin {
      margin-bottom: 2em;
    }

    h1 {
      a {
        &:hover {
          color:$secondary;
        }
      }
    }

    a {
      color:$primary;
      &:visited {
        color:$primary
      }
    }
    .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  }
}


.builder-newsAggregateSmall {
  padding-top:5em;
  padding-bottom:5em;
  background:url("../img/bg.png") repeat,linear-gradient(180deg, #2d2b81 0%, lighten($secondary,8) 100%);
  background-attachment: fixed;
  h3 {
    color:white;
  }

/*  article {
    &:hover {
    background:rgba(white,.1);
    a {
      color:white;
    }
  }
    
    border-color:white;
    * {
      color:white;
    }
    .leadin {
      color:lighten($secondary,40);
    }
  }*/
}

article {
  @include viewport(sm){
    a {
      display: flex;
      height:100%;
    }
    .meta-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        max-width:60%;
      }
    }
  }

  p {
    color:$darkText;
    font-size: 14px;
  }
  
  .meta-content {
    padding:3em;

  }
  .img-contain  {
    background-size: cover;
    padding: 0;
    overflow: hidden;
    background-position: center;
    min-height:150px;

  }
  margin:15px;
  width:100%;
  background:white;
  border-radius:2px;
  
  * {
    @include transition(.3s color)
  }
  &:hover {
    background:lighten($secondary,20);
    *{ 
      color:white;
    }
  }
  @include viewport(sm){
    width:calc(50% - 30px);

  }
}
