

header {
	z-index: 100;
	div[class*="col"]{
		margin: 0;
	}
	.logo {
		a {
			display: inline-block;
			max-width:150px;
		}
	}
	@media (max-width: $sm) {
		background:rgba($secondary,.8);
		.logo {
			a {
				max-width:50px;
			}
		}
		.mainnav {
			ul {
				li {
					a {
						padding:1em;
					}
				}
			}
		}
	}
	&.has-scrolled {
		@include viewport(desktop) {
			padding:2em 0;
		}
		background:rgba($secondary,.8);
		.logo {
			a {
				max-width:50px;
			}
		}
		.mainnav {
			ul {
				li {
					a {
						padding:1em;
					}
				}
			}
		}
		
	}

	.mainnav {
		@include transition(all .5s);
			ul{
				float:right;
				li {
					
					&.active {
						a {
							color:white;
						}
					}
					float:left;
					a {
						padding:5em 1em;
						font-size: 1.5rem;
						text-transform: uppercase;
						display: inline-block;
						color:white;
						&:hover {
							color:$secondary;
						}
					}
				}
			}
		}
	@include transition(.3s all);
	@include viewport(sm){
		padding: 1em;
	}
	padding:1em;
	position: fixed;
	width:100%;
	.wrap {

	}
	@include viewport(desktop){
		padding:4em 0;
	}
}


