body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  margin: 0 0 2rem;
  font-weight: 800;
  text-transform: uppercase;

}

h1 {
  font-size: 3.5rem;
  @include viewport(md){
  font-size: 8rem;

  }
}

h2 {
  font-size: 3rem;
  @include viewport(md){
  font-size: 5rem;

  }
}

h3 {
  font-size: 2.5rem;
  @include viewport(md){
  font-size: 4rem;

  }

}

h4 {
  font-size: 2.25rem;
  @include viewport(md){
  font-size: 3.7rem;

  }
}

table {
  width:100%;
}

.serif {
  font-family: $serif;
}

/* PARAGRAPH */

p,li,td,th {
 font-family: $body;
  line-height: 1.4;
  color:$primary;
  font-weight: 100;

}
p,li {
  @include viewport(sm){
    font-size: 2rem;
  }
  font-size: 1.8rem

}
th,td{
  font-size: 1.5rem;
  @include viewport(sm){
    font-size: 2rem;
  }
}
p {
  a {
    font-weight: 600;
  }
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

th {
  font-weight: 700;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background:rgba($primary,.2);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background:transparent;
}


a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$link;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.text-white {
  * {
    color: white;
  }
}

.button {
  font-size: 2rem;
  padding:1em 2em;
  border:solid 3px $secondary;
  display: inline-block;
  color:white;
  border-radius:10px;
  margin:1em 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  &:visited {
    color:white;
  }
  &:hover {
    border-color:white;
    color:$secondary;

  }
}