{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "{{ entry }}" %}

{% block content %}
<div class="builder-section builder-bannerBuilder">

			<section class="header flex-parent small" style="background-image:url('/resources/media/_hero/arcade-9.jpg')">
					<div class="container-fluid wrap">
				<div class="row text-center">
					<div class="col-xs-12">
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="builder-section">

			<div class="container-fuid div wrap">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<ul class="productMeta">
							<li><img src="{{ entry.image.first.url }}" alt=""></li>
							<li><strong>Brand:</strong> {{ entry.brand.first }}</li>
							<li><strong>Type:</strong> {{ entry.gameType.first }}</li>

						</ul>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h1>{{ entry }}</h1>
						{{ entry.body }}
						<hr>
						<h4>Request Information for this equipment</h4>
						<div class="row">
							{% macro errorList(errors) %}
							{% if errors %}
							<ul class="errors">
								{% for error in errors %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							{% endmacro %}

							{% from _self import errorList %}

							<form method="post" class="main-form" id="my-form" action="POST" accept-charset="UTF-8">
								{{ getCsrfInput() }}
								<input type="hidden" name="action" value="contactForm/sendMessage">

								<input id="subject" type="hidden" name="subject" value="More Information Regarding: {{ entry }}">

								<input id="preferredKitten" type="text" name="preferredKitten">


													
									<div class="col-xs-12 col-sm-6 form-item">
									    <input required="" id="fromName" type="text" placeholder="Name*" name="fromName" value="">
									</div>										
									<div class="col-xs-12 col-sm-6 form-item">
									    <input id="phone" type="text" placeholder="Phone Number" name="message[Phone]" value="">
									</div>										
									<div class="col-xs-12  form-item">
									    <input required="" id="fromEmail" type="email" placeholder="Email*" name="fromEmail" value="">
									</div>										
									<div class="col-xs-12  form-item">
										<textarea required="" rows="10" cols="40" id="message" placeholder="Message*" name="message[body]"></textarea>
									</div>										
									<div class="col-xs-12 col-sm-6 form-item">
										<input type="submit" class="button" value="Send Along">
									</div>
													
							</form>
							<div id="thank-you">
								<p>Thank you for your interest</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
{% endblock %}
