{#
	# News index template
	# -------------------
	#
	# This template is loaded whenever http://example.com/news is
	# requested, because it is located at news/index.html in your
	# craft/templates/ folder.
	#
	# See this page for more details on how Craft routes requests:
	# http://craftcms.com/docs/routing
	#}

	{% extends "_layout" %}
	{% set title = "games" %}

	{% block content %}
	<div class="builder-section builder-bannerBuilder fade fade-in" data-offset="262.5">

		<section class="header flex-parent small" style="background-image:url('/resources/media/_hero/arcade-9.jpg')">
			<div class="container-fluid wrap">
				<div class="row text-center">
					<div class="col-xs-12">
						<h1>Games</h1>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class=" " id="Container" >
		<div class="container-fluid wrap blog-index" id="app">
			<div class="row filters controls" id="Filters" v-cloak>
				<div class="col-xs-12 col-sm-6">
					<h4>Filter by Brand</h4>
					<fieldset>
						<select >
							<option value="">All</option>
							{% for category in craft.categories.group('brands').order('title asc') %}
							{% set entryCount = craft.entries.relatedTo(category).total() %}
							{% if entryCount > 0 %}
							<option value=".{{ category | lower | replace({' ': '-' , '/':'-'}) }}">{{ category }} ({{ entryCount }})</option>
							{% endif %}
							{% endfor %}
						</select>
					</fieldset>

				</div>
				<div class="col-xs-12 col-sm-6">
					<h4>Filter by Type</h4>
					<fieldset>
						<select>
							<option value="">All</option>
							{% for category in craft.categories.group('gameType').order('title asc') %}
							{% set entryCount = craft.entries.relatedTo(category).total() %}
							{% if entryCount > 0 %}
							<option value=".{{ category | lower | replace({' ': '-' , '/':'-'}) }}">{{ category }} ({{ entryCount }})</option>
							{% endif %}
							{% endfor %}
						</select>
					</fieldset>

				</div>
			</div>


			<div v-cloak>
					<div class="row flex-parent">
						<div class="mixFail text-center col-xs-12">
							<h1>No products found</h1>
						</div>
						
						<div v-for="product in products" v-bind:class="[product.gameType, product.brand]" class="col-xs-6 col-sm-3 col-md-2 mix" >
							<a :href="product.url" :title="product.title">
								<img :src="product.imageUrl" :alt="product.title">
							</a>
							
						</div>

						<div class="col-xs-12 text-center" v-show="showSpinner">
								<h5>Loading...</h5>
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lds-gears" width="183px" height="183px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;"><g transform="translate(50 50)"> <g transform="translate(-19 -19) scale(0.6)"> <g transform="rotate(348.019)">
							<animateTransform attributeName="transform" type="rotate" values="0;360" keyTimes="0;1" dur="2.6s" begin="0s" repeatCount="indefinite"/><path d="M37.3496987939662 -7 L47.3496987939662 -7 L47.3496987939662 7 L37.3496987939662 7 A38 38 0 0 1 31.359972760794346 21.46047782418268 L31.359972760794346 21.46047782418268 L38.431040572659825 28.531545636048154 L28.531545636048154 38.431040572659825 L21.46047782418268 31.359972760794346 A38 38 0 0 1 7.0000000000000036 37.3496987939662 L7.0000000000000036 37.3496987939662 L7.000000000000004 47.3496987939662 L-6.999999999999999 47.3496987939662 L-7 37.3496987939662 A38 38 0 0 1 -21.46047782418268 31.35997276079435 L-21.46047782418268 31.35997276079435 L-28.531545636048154 38.431040572659825 L-38.43104057265982 28.531545636048158 L-31.359972760794346 21.460477824182682 A38 38 0 0 1 -37.3496987939662 7.000000000000007 L-37.3496987939662 7.000000000000007 L-47.3496987939662 7.000000000000008 L-47.3496987939662 -6.9999999999999964 L-37.3496987939662 -6.999999999999997 A38 38 0 0 1 -31.35997276079435 -21.460477824182675 L-31.35997276079435 -21.460477824182675 L-38.431040572659825 -28.531545636048147 L-28.53154563604818 -38.4310405726598 L-21.4604778241827 -31.35997276079433 A38 38 0 0 1 -6.999999999999992 -37.3496987939662 L-6.999999999999992 -37.3496987939662 L-6.999999999999994 -47.3496987939662 L6.999999999999977 -47.3496987939662 L6.999999999999979 -37.3496987939662 A38 38 0 0 1 21.460477824182686 -31.359972760794342 L21.460477824182686 -31.359972760794342 L28.531545636048158 -38.43104057265982 L38.4310405726598 -28.53154563604818 L31.35997276079433 -21.4604778241827 A38 38 0 0 1 37.3496987939662 -6.999999999999995 M0 -23A23 23 0 1 0 0 23 A23 23 0 1 0 0 -23" fill="#2d2b81"/></g></g> <g transform="translate(19 19) scale(0.6)"> <g transform="rotate(349.481)">
							<animateTransform attributeName="transform" type="rotate" values="360;0" keyTimes="0;1" dur="2.6s" begin="-0.1625s" repeatCount="indefinite"/><path d="M37.3496987939662 -7 L47.3496987939662 -7 L47.3496987939662 7 L37.3496987939662 7 A38 38 0 0 1 31.359972760794346 21.46047782418268 L31.359972760794346 21.46047782418268 L38.431040572659825 28.531545636048154 L28.531545636048154 38.431040572659825 L21.46047782418268 31.359972760794346 A38 38 0 0 1 7.0000000000000036 37.3496987939662 L7.0000000000000036 37.3496987939662 L7.000000000000004 47.3496987939662 L-6.999999999999999 47.3496987939662 L-7 37.3496987939662 A38 38 0 0 1 -21.46047782418268 31.35997276079435 L-21.46047782418268 31.35997276079435 L-28.531545636048154 38.431040572659825 L-38.43104057265982 28.531545636048158 L-31.359972760794346 21.460477824182682 A38 38 0 0 1 -37.3496987939662 7.000000000000007 L-37.3496987939662 7.000000000000007 L-47.3496987939662 7.000000000000008 L-47.3496987939662 -6.9999999999999964 L-37.3496987939662 -6.999999999999997 A38 38 0 0 1 -31.35997276079435 -21.460477824182675 L-31.35997276079435 -21.460477824182675 L-38.431040572659825 -28.531545636048147 L-28.53154563604818 -38.4310405726598 L-21.4604778241827 -31.35997276079433 A38 38 0 0 1 -6.999999999999992 -37.3496987939662 L-6.999999999999992 -37.3496987939662 L-6.999999999999994 -47.3496987939662 L6.999999999999977 -47.3496987939662 L6.999999999999979 -37.3496987939662 A38 38 0 0 1 21.460477824182686 -31.359972760794342 L21.460477824182686 -31.359972760794342 L28.531545636048158 -38.43104057265982 L38.4310405726598 -28.53154563604818 L31.35997276079433 -21.4604778241827 A38 38 0 0 1 37.3496987939662 -6.999999999999995 M0 -23A23 23 0 1 0 0 23 A23 23 0 1 0 0 -23" fill="#ffffff"/></g></g></g></svg>
						</div>
						
						<div class="col-xs-12 text-center" v-show="nextPage"><a v-on:click="loadMoreProducts()" class="button">Load More</a></div>


				</div>
			</div>
		</div>
		{% endblock %}


